In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('apt.csv', encoding = 'cp949')

In [3]:
df

,지역,번지,본번,부번,아파트,면적,계약년월,계약일,가격,층,건축년도,도로명
0,강원도 강릉시 견소동,202,202,0,송정한신,59.800,201910,4,10900,5,1997,경강로2539번길 8
1,강원도 강릉시 견소동,202,202,0,송정한신,116.175,201910,31,18500,10,1997,경강로2539번길 8
2,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,5,25000,6,2005,경강로2539번길 22
3,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,12,20600,3,2005,경강로2539번길 22
4,강원도 강릉시 견소동,289,289,0,송정해변신도브래뉴아파트,84.990,201910,20,20500,1,2005,경강로2539번길 22
...,...,...,...,...,...,...,...,...,...,...,...,...
42753,충청북도 충주시 호암동,547-6,547,6,호반현대,59.760,201910,29,7000,3,1994,신촌2길 28
42754,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,5,12000,15,2002,원호암5길 32
42755,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,15,11000,7,2002,원호암5길 32
42756,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,17,12000,14,2002,원호암5길 32
42757,충청북도 충주시 호암동,221-23,221,23,호암리버빌(1단지),84.680,201910,26,11200,11,2002,원호암5길 32

In [6]:
df[df.가격 > 40000].sort_values(by = '가격', ascending = False).loc[:,('아파트', '가격', '면적', '지역')]

                 아파트      가격        면적              지역
31258           한남더힐  485000  233.0620   서울특별시 용산구 한남동
27061      상지리츠빌 카일룸  461000  210.5000   서울특별시 강남구 도곡동
29946        아크로리버파크  415000  129.9200   서울특별시 서초구 반포동
26805    해운대두산위브더제니스  376640  209.8332   부산광역시 해운대구 우동
27036         동부센트레빌  373000  161.4700   서울특별시 강남구 대치동
...              ...     ...       ...             ...
20270     진천역AK그랑폴리스   40200   84.9663   대구광역시 달서구 유천동
25178           로즈타운   40100   80.4500   부산광역시 동래구 온천동
7457        한라비발디캠퍼스   40100   84.9906     경기도 시흥시 정왕동
21069       대구노원한신더휴   40050   84.9800  대구광역시 북구 노원동3가
31618  미랜드프래임빌(102동)   40050   79.6200   서울특별시 중랑구 상봉동

[10486 rows x 4 columns]