In [1]:
import pandas as pd

In [2]:
import os, re

In [3]:
df = pd.read_csv("survey.csv", encoding = 'cp949')

In [4]:
df

   sex  income  English  jobSatisfaction  stress
0    m    3000      500                5       5
1    f    4000      600                4       4
2    f    5000      700                3       2
3    m    6000      800                2       2
4    m    4000      700                2       5
5    m    3000      600                1       5
6    m    3000      500                3       1
7    m    5000      500                3       2
8    f    4999      600                4       3
9    f    5000      700                5       4
10   m    3000      500                5       5
11   m    4000      600                4       4
12   m    5000      700                3       2
13   m    6000      800                2       5
14   f    4000      700                2       4
15   f    3000      600                1       2
16   m    3000      500                3       2
17   m    5000      500                3       5
18   m    4999      600                4       5
19   m    5000      500                3       1
20   f    4999      600                4       2
21   f    5000      700                5       3
22   f    3000      500                5       4

In [5]:
df.mean()

income             4304.217391
English             608.695652
jobSatisfaction       3.304348
stress                3.347826
dtype: float64

In [6]:
df.income.mean()

4304.217391304348

In [7]:
df.income.sum()

98997

In [8]:
df.income.median()

4999.0

In [9]:
df.describe()

            income     English  jobSatisfaction     stress
count    23.000000   23.000000        23.000000  23.000000
mean   4304.217391  608.695652         3.304348   3.347826
std    1019.478341   99.603959         1.258960   1.433644
min    3000.000000  500.000000         1.000000   1.000000
25%    3000.000000  500.000000         2.500000   2.000000
50%    4999.000000  600.000000         3.000000   4.000000
75%    5000.000000  700.000000         4.000000   5.000000
max    6000.000000  800.000000         5.000000   5.000000

In [10]:
df.income.describe()

count      23.000000
mean     4304.217391
std      1019.478341
min      3000.000000
25%      3000.000000
50%      4999.000000
75%      5000.000000
max      6000.000000
Name: income, dtype: float64

In [11]:
df.sex.value_counts()

m    14
f     9
Name: sex, dtype: int64

In [12]:
df.groupby(df.sex).mean()

          income     English  jobSatisfaction    stress
sex
f    4333.111111  633.333333         3.666667  3.111111
m    4285.642857  592.857143         3.071429  3.500000

In [13]:
df.groupby(df.sex).income.mean()

sex
f    4333.111111
m    4285.642857
Name: income, dtype: float64